<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?tec\.ourfamilyconnections\.org$ [NC]
RewriteRule ^(.*)$ https://tec.ourfamilyconnections.org/$1 [L,R=301]
</IfModule>